
/*TOP NAVBAR*/

.top-bar{
    background-color: #DCDCDC;
    min-height:60px;
    padding-top:5px;
    padding-bottom: 0px;
}

.top-bar .contacter {
    display: block;
    color: #333;
    float: right;
    text-align: right;
    font-weight: bold;
}

.navbar-brand {
float:left;
}

/*TOP NAVBAR END*/

/*NAVBAR PRINCIPALE*/
.navbar-inverse {
    background-color: #009688;
    min-height: 90px;
    
}

.navbar-header li{
    list-style-type:none;
    display:inline-block;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
        
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 11px;
    color: #fff;
    list-style-type:none;
}

#ventesflash{
    color:white;
}

#categorie li a{
    color:black;
}

#cart-heart {
font-size:20px; 
}

/*NAVBAR PRINCIPALE END*/

/*Caroussel page d'acceuil*/

#caroussel
{
    background: white;
}
.fas.fa-chevron-left, .fas.fa-chevron-right
{
    background-image: none;
    color: black;
}
.carousel-indicators
{
    bottom: 0px;
}
.carousel-indicators li
{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid black;
}
.carousel-indicators li.active
{
    background-color: black;
}
#myCarousel .carousel-item
{
    padding: 40px 30px;
}
#myCarousel .carousel-item h4
{
    color: black;
    font-style: italic;
    font-size: 20px;
}
/*Caroussel page d'acceuil END*/

/*endpage*/
#endpage .container-fluid 
{  
    display: inline-flex; 
    width:100%;
    background: #009688; 
    
}
#infos
{   
    background: #009688; 
    width: 50%;
}

#infos ul li 
{
    color:white;
    font-size: 15px;
}
#contact
{ 
  background: #009688; 
  width: 50%;
}

#personalinfo
{
    float:left;
}
#textarea
{
    float:right;
}

#contact .heading h4, #infos .heading h4
{
    color: white;
    font-size:20px;
    text-decoration: underline;
}

#contact .form-line
{
  border-right: 1px solid  #ddd;
}
#contact .form-group
{
  margin-top: 10px;
}
#contact label
{
  font-size: 15px;
  line-height: 20px;
  color: white;
}
#contact .form-control
{
  font-size: 15px;
}
textarea.form-control 
{
    height: 155px; 
}
#message
{
    width:250x;
}

#contact .submit
{
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  width: auto;
  background-color: #009688;
  color:  white;
  border: 1px solid white;
  border-radius: 3px;

}
#contact .submit:hover
{
    background: white;
    color: #31859c;
    text-decoration: none;
}

#contact #textarea_feedback
{
    color:white;
    float:left;   
}


/*endpage END*/

/* FOOTER */
footer
{
    background: #DCDCDC;
    height: 70px;
}
footer .fas
{
    font-size:  25px;
    margin: 5px;
    color: #009688;
    height: 30px;
}
footer .fas:hover
{
    font-size:  27px;
}
footer h4
{
    color: #333;
    font-weight: bold;
    font-size: 20px
}

/* FOOTEREND */