

/* customize the submit button */
/*.buttonSub1 {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    transition-duration: 0.2s;

}

.buttonSub1:hover {
    background-color: #002fff;
}

.buttonSub2 {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    transition-duration: 0.2s;

}

.buttonSub2:hover {
    background-color: #00d800;
}*/

.buttonSub3 {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    transition-duration: 0.2s;

}

.buttonSub3:hover {
    background-color: #ff0000;
}



.box {
    position: absolute;
    width: 30%;
    border: none;
    padding: 10px;
    left: 50%;
    top:250px;
    background-color:rgba(212, 212, 212, 0.801);
    transform: translate(-50%, 0);
    border-radius: 3px;
}

.box2 {
    position: absolute;
    height: 350px;
    width: 800px;
    border: none;
    padding: 10px;
    top:45px;
    left:50%;
    background-color:rgba(255, 235, 205, 0);
    transform: translate(-50%, 0);
    border-radius: 15px;
}

